:root {
  --primary-blue: #003b6d;
  --primary-orange: #ffa500;
}

/* HERO SECTION */
.hero {
  background: linear-gradient(
      rgba(0, 59, 109, 0.7),
      rgba(0, 59, 109, 0.85)
    ),
    url("assets/businessmen-elegant-suits-business-meeting-discussing-new-project-office\ 1.jpg") center/cover no-repeat;
  height: 50vh;
  color: #fff;
}

.text-blue {
  color: var(--primary-blue);
}

.text-orange {
  color: var(--primary-orange);
}

.btn-orange {
  background-color: var(--primary-orange);
  border: none;
  color: #fff;
  transition: 0.3s;
}

.btn-orange:hover {
  background-color: #ffb733;
  color: #003b6d;
}

/* FEATURES */
.feature-box {
  transition: all 0.3s ease;
}

.feature-box:hover {
  transform: translateY(-8px);
  border-bottom: 4px solid var(--primary-orange);
}

/* STATS */
.stats {
  background: linear-gradient(135deg, var(--primary-blue), #00244a);
}

/* CTA */
.cta {
  background: #f9fafc;
}

.cta a {
  transition: 0.3s;
}

.cta a:hover {
  background-color: var(--primary-blue);
  color: #fff !important;
}
